.nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

nav li {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    text-align: center;
}

nav li:hover {
    background-color: #fff;
}

.carousel {
    width: 100vw !important;
    height: 70vh !important;
}

.videos {
    margin: auto;
    text-align: center;
}

.title {
    margin: auto;
    padding: 20px;
    text-align: center;
    background: gray;
}

.row {
    padding: 20px;
    margin: auto;
}