.nav {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-size: 0;
    background-color: #28598a !important;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}

nav li {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    text-align: center;
}

nav li:hover {
    background-color: #fff;
}

.carousel {
    width: 98.78vw !important;
}

.videos {
    margin: auto;
    text-align: center;
}

.title {
    margin: auto;
    padding: 20px;
    text-align: center;
    background: #e1e2e4;
}

.form {
    padding: 20px;
    margin: auto;
    text-align: center;
}

.icons {
    size: 20px;
}

.contact {
    background-image: url("../images/contact.jpg");
    object-fit: cover;
}